# name of the pipeline
name: github avdreo5 pipeline

# trigger event
on:
  push:
    branches:
      - main

jobs:
  demo-job:
    runs-on: ubuntu-latest

    steps:
      - name: checkout code
        uses: actions/checkout@v2

      - name: print message
        run: echo "Welcome to GitHub Actions"
